body {
    --bg-color: #131313;
    --box-size-width: 1;

    --animation-time: 16s;
    --animation-options: var(--animation-time) infinite cubic-bezier(0.2, 0, 0.8, 1);

    --dot-size: 1.2rem;
    --box-border-width: 2px;
    --box-border-color: white;
    --box-side-length: calc(min(50vmin, 250px) * var(--box-size-width));
    --box-fill-color-transition: #003794;
    --box-fill-color: #006ed4;

    --breath-gradient: linear-gradient(
        135deg,
        var(--box-fill-color) 0%,
        var(--box-fill-color-transition) 30%,
        var(--bg-color) 75%
    );


    font-size: calc(min(18px, 5vmin));

}


h1 summary {
    list-style-type: none;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
    color: #fff;
}

h1 {
    font-size: 1.5em;
    font-weight: 300;
    color: #999;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

h1 + h2 {
    font-weight: 500;
    color: #fff;
    font-size: 2em;
    margin-top: 0em;
    margin-bottom: 0em;
    line-height: 1.2em;
}

h1 + h2 ~ p {
    font-size: 0.9em;
    margin-bottom: 2em;
}

h1 > span::before {
    content:"\a";
    white-space: pre;
}

hr {
    border: none;
    margin: 2em 0;
    border-bottom: 1px solid #444;
}

body {
    background-color: var(--bg-color);
    color: #ccc;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    line-height: 1.5em;
}

blockquote {
    border-left: 2px solid #444;
    color: #888;
    margin-left: 0.5rem;
    padding-left: 0.5rem;
}

ul {
    padding-left: 1.5rem;
}

li {
    margin: 0.25em 0;
}

a:visited {
    color: #a748ff;
}

a {
    color: #5871ff;
}

:root::-webkit-scrollbar { width: 0 }
:root { scrollbar-width: none; }

input {
    background-color: #222;
    border-bottom: 1px solid #aaa;
    border: 0;
    padding: 8px;
    color: white;
    width: 60px;
    appearance: textfield;
}

#visual {
    position: relative;
}

#settings {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

.setting {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.8em;
    color: #bbb;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #212121;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 50%;
}

input:checked + .slider { background-color: #2196F3; }
input:focus + .slider { box-shadow: 0 0 1px #2196F3; }
input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}


#table-of-contents {
    font-size: 1.2em;
    color: white;
    padding: 1em;
    border: 1px solid #444;
    border-radius: 0.5em;
}

#table-of-contents a {
    text-decoration: none;
}

#table-of-contents > * {
    margin: 0;
}

#guide-arrow {
    position: absolute;
    bottom: 6vh;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s linear;
    fill: #888;
    text-align: center;
    pointer-events: none;
}

#session-time {
    position: absolute;
    top: 4vh;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: #7e7e7e;
    text-align: center;
    pointer-events: none;
}

#box-breathing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    border-bottom: 1px solid #444;
}

#box-container {
    position: relative;
}

#box {
    width: var(--box-side-length);
    height: var(--box-side-length);
    border: var(--box-border-width) solid var(--box-border-color);
}

#breath-indicator {
    background: var(--breath-gradient);
    background-size: 700% 700%;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    border-top: var(--box-border-width) solid var(--box-border-color);
    z-index: -1;

    animation: breath-indicator-animation var(--animation-options);
}

@keyframes breath-indicator-animation {
    0% { height: 0%; background-position: 100% 50%; }
    25% { height: 0%; background-position: 100% 50%; }
    50% { height: 100%; background-position: 0% 0%; }
    75% { height: 100%; background-position: 0% 0%; }
    100% { height: 0%; background-position: 100% 50%; }
}

#dot {
    width: var(--dot-size);
    height: var(--dot-size);
    position: absolute;
    transform: translate(-50%, -50%);
    border: var(--box-border-width) solid var(--box-border-color);
    border-radius: 400rem;
    background: #131313;
    animation: dot-animation var(--animation-options);
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;

    font-family: monospace;
    font-weight: 800;
    color: #ffff;

    left: calc(0% + var(--box-border-width)/2);
    top: calc(100% - var(--box-border-width)/2);
}

#guide-text {
    position: absolute;
    box-sizing: border-box;
    inset: 0%;
    display: grid;
    opacity: 0;
}

#guide-text * {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
}

#breathe-in { animation: breathe-in var(--animation-options); }

@keyframes breathe-in {
    25% { opacity: 0; }
    27.5% { opacity: 1; }
    42.5% { opacity: 1; }
    50% { opacity: 0; }
}
#breathe-out { animation: breathe-out var(--animation-options); }

@keyframes breathe-out {
    0% { opacity: 0; }
    75% { opacity: 0; }
    77.5% { opacity: 1; }
    92.5% { opacity: 1; }
}


#hold { animation: hold var(--animation-options); }

@keyframes hold {
    0% { opacity: 0; }
    2.5% { opacity: 1; }
    17.5% { opacity: 1; }
    25% { opacity: 0; }
    50% { opacity: 0; }
    52.5% { opacity: 1; }
    67.5% { opacity: 1; }
    75% { opacity: 0; }
}





@keyframes dot-animation {
    0% {
        left: calc(100% - var(--box-border-width)/2);
        top: calc(100% - var(--box-border-width)/2);
        background-position: 100% 50%;
    }
    25% {
        left: calc(0% + var(--box-border-width)/2);
        top: calc(100% - var(--box-border-width)/2);
        background-position: 100% 50%;
    }
    50% {
        left: calc(0% + var(--box-border-width)/2);
        top: calc(0% + var(--box-border-width)/2);
        background-position: 0% 0%;
    }
    75% {
        left: calc(100% - var(--box-border-width)/2);
        top: calc(0% + var(--box-border-width)/2);
        background-position: 0% 0%;
    }
    100% {
        left: calc(100% - var(--box-border-width)/2);
        top: calc(100% - var(--box-border-width)/2);
        background-position: 100% 50%;
    }
}

#video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

#animated-box-breathing-gif iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#content {
    width: 90vmin;
    max-width: 45em;
    /* padding: 3rem 0; */
    margin: auto;
    padding: 1em 0;
    margin-bottom: 1em;
}

#badge-buttons > p {
    margin: 1.1em 0;
}

#badge-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    height: 54px;
}

#badge-subtext {
    /* margin-left: 0.5em; */
    margin-top: 0.7em;
    font-size: 0.8em;
    color: #999;
}

#buymeacoffee {
    display: contents;
}

#buymeacoffee img {
    height: 54px;
    background-color: #ffdd00;
    border-radius: 1000px;
}

#audio-container {
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#audio-player {
    width: 100%;
}

@-moz-document url-prefix() {
    #audio-container {
        background-color: #1a1a1a;
        border-radius: 1000px;
        padding: 0 8px;
    }
}

audio::-webkit-media-controls {
    filter: invert(1);
}

audio::-webkit-media-controls-panel {
    background-color: #e3e3e3;
    justify-content: space-between;
}

@media screen and (max-width:480px) {
    audio::-webkit-media-controls-timeline-container,
    audio::-webkit-media-controls-timeline
    {
        display: none;
    }
}

@media screen and (max-width:580px) {
    audio::-webkit-media-controls-time-remaining-display,
    audio::-webkit-media-controls-current-time-display
    {
        display: none;
    }
}

.incrementer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    height: 36px;
}

.incrementer button,
.incrementer .incrementer-value {
    outline: none;
    border: none;
    padding: 0;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
}

.incrementer .incrementer-value {
    width: 70px;
    font-size: 16px;
    background-color: #212121;
}

.incrementer button {
    cursor: pointer;
    width: 34px;
    font-size: 16px;
    line-height: 1em;
    background-color: #2f2f2f;
}
.incrementer button:nth-last-child(1) {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.incrementer button:nth-child(1) {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

body{
    display:block !important
}