/* ibm-plex-sans-300 - latin */
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 300;
    src: url('./ibm-plex-sans-v14-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./ibm-plex-sans-v14-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./ibm-plex-sans-v14-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('./ibm-plex-sans-v14-latin-300.woff') format('woff'), /* Modern Browsers */
         url('./ibm-plex-sans-v14-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./ibm-plex-sans-v14-latin-300.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
  }
  /* ibm-plex-sans-regular - latin */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./ibm-plex-sans-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./ibm-plex-sans-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./ibm-plex-sans-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./ibm-plex-sans-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./ibm-plex-sans-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./ibm-plex-sans-v14-latin-regular.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
  }
  /* ibm-plex-sans-500 - latin */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    src: url('./ibm-plex-sans-v14-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./ibm-plex-sans-v14-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./ibm-plex-sans-v14-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('./ibm-plex-sans-v14-latin-500.woff') format('woff'), /* Modern Browsers */
         url('./ibm-plex-sans-v14-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./ibm-plex-sans-v14-latin-500.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
  }
  /* ibm-plex-sans-600 - latin */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    src: url('./ibm-plex-sans-v14-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./ibm-plex-sans-v14-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./ibm-plex-sans-v14-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('./ibm-plex-sans-v14-latin-600.woff') format('woff'), /* Modern Browsers */
         url('./ibm-plex-sans-v14-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./ibm-plex-sans-v14-latin-600.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
  }